<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Responsive Admin Dashboard Template">
        <meta name="keywords" content="admin,dashboard">
        <meta name="author" content="stacks">
        <link rel="icon" type="image/x-icon" href="../assets/images/favicon.ico">
        <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <!-- Title -->
        <title>Profile - eIMS</title>

        <!-- Styles -->
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
        <link href="../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="../assets/plugins/font-awesome/css/all.css" rel="stylesheet">
        <link href="../assets/plugins/DataTables/datatables.css" rel="stylesheet">
        <link href="../assets/plugins/select2/css/select2.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css"/>
        <!-- Croppie -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.css" />


        <!-- Theme Styles -->
        <link href="../assets/css/connect.css" rel="stylesheet">
        <link href="../assets/css/dark_theme.css" rel="stylesheet">
        <link href="../assets/css/custom.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="app-profile">

        <div class='loader'>
            <div class='spinner-grow text-primary' role='status'>
                <span class='sr-only'>Loading...</span>
            </div>
        </div>
        <div class="connect-container align-content-stretch d-flex flex-wrap">
            <div class="page-sidebar"></div>
            <div class="page-container">
                <div class="page-header">
                    <nav class="navbar navbar-expand"></nav>
                </div>
                <div class="page-content">
                    <div class="main-wrapper">
                        <div class="profile-header">
                            <div class="row">
                                <div class="col">
                                    <div class="profile-img">
                                        <img src="../assets/images/profilePictures/" class="rounded-circle" id="profile-picture" draggable="false">
                                        <span class="camera-icon"><i class="fa fa-camera"></i></span>
                                        <input type="file" class="d-none" accept="image/*" id="new-dp" name="new-dp">
                                    </div>
                                    <div class="modal fade editProfilePicturePopup" tabindex="-1" role="dialog" aria-labelledby="editProfilePicturePopup" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Crop & resize image</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div id="preview"></div>
                                                    <p class="text-center">Drag image to reposition.</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-info" type="button" id="crop">Save & Upload</button>
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <!-- Preview Image -->
                                    <div class="preview-container"></div>
                                    <div class="profile-name"></div>
                                    <div class="profile-menu">
                                        <ul>
                                            <!-- <li>
                                                <a href="#">Feed</a>
                                            </li>
                                            <li>
                                                <a href="#">About</a>
                                            </li>
                                            <li>
                                                <a href="#">Friends</a>
                                            </li>
                                            <li>
                                                <a href="#">Photos</a>
                                            </li>
                                            <li>
                                                <a href="#">Videos</a>
                                            </li>
                                            <li>
                                                <a href="#">Music</a>
                                            </li> -->
                                        </ul>
                                        <div class="profile-status">
                                            <i class="active-now"></i> Active now
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="profile-content">
                            <div class="row">
                                <!-- <div class="col-md-8">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="post">
                                                <div class="post-header">
                                                    <img src="../assets/images/avatars/profile-image-3.jpg">
                                                    <div class="post-info">
                                                        <span class="post-author">Riley Beach</span><br>
                                                        <span class="post-date">3hrs</span>
                                                    </div>
                                                    <div class="post-header-actions">
                                                        <a href="#"><i class="fas fa-ellipsis-h"></i></a>
                                                    </div>
                                                </div>
                                                <div class="post-body">
                                                    <p>Proin eu fringilla dui. Pellentesque mattis lobortis mauris eu tincidunt. Maecenas hendrerit faucibus dolor, in commodo lectus mattis ac.</p>
                                                    <img src="../assets/images/post-1.jpg" class="post-image" alt="">
                                                </div>
                                                <div class="post-actions">
                                                    <ul class="list-unstyled">
                                                        <li>
                                                            <a href="#" class="like-btn"><i class="far fa-heart"></i>Like</a>
                                                        </li>
                                                        <li>
                                                            <a href="#"><i class="far fa-comment"></i>Comment</a>
                                                        </li>
                                                        <li>
                                                            <a href="#"><i class="fas fa-share"></i>Share</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="post-comments">
                                                    <div class="post-comm">
                                                        <img src="../assets/images/avatars/profile-image-2.png" class="comment-img">
                                                        <div class="comment-container">
                                                            <span class="comment-author">
                                                                Sonny Rosas
                                                                <small class="comment-date">5min</small>
                                                            </span>
                                                        </div>
                                                        <span class="comment-text">
                                                            Mauris ultrices convallis massa, nec facilisis enim interdum ac.
                                                        </span>
                                                    </div>
                                                    <div class="post-comm">
                                                        <img src="../assets/images/avatars/profile-image.png" class="comment-img">
                                                        <div class="comment-container">
                                                            <span class="comment-author">
                                                                Jacob Lee
                                                                <small class="comment-date">27min</small>
                                                            </span>
                                                        </div>
                                                        <span class="comment-text">
                                                            Cras tincidunt quam nisl, vitae aliquet enim pharetra at. Nunc varius bibendum turpis, vitae ultrices tortor facilisis ac.
                                                        </span>
                                                    </div>
                                                    <div class="new-comment">
                                                        <form action="javascript: void(0)">
                                                            <div class="input-group">
                                                                <input type="text" name="comment" class="form-control search-input" placeholder="Type something...">
                                                                <div class="input-group-append">
                                                                    <button class="btn btn-secondary" type="button" id="button-addon1">Comment</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="post">
                                                <div class="post-header">
                                                    <img src="../assets/images/avatars/profile-image.png">
                                                    <div class="post-info">
                                                        <span class="post-author">Haydon Kenny</span><br>
                                                        <span class="post-date">7hrs</span>
                                                    </div>
                                                    <div class="post-header-actions">
                                                        <a href="#"><i class="fas fa-ellipsis-h"></i></a>
                                                    </div>
                                                </div>
                                                <div class="post-body">
                                                    <p>Praesent purus purus, varius ac mauris quis, scelerisque ornare massa. Nam volutpat lacinia lectus, vitae mattis nisl. Mauris ultrices convallis massa, nec facilisis enim interdum ac. Suspendisse hendrerit risus nec nisi dictum efficitur. Pellentesque aliquet in justo id lobortis.</p>
                                                </div>
                                                <div class="post-actions">
                                                    <ul class="list-unstyled">
                                                        <li>
                                                            <a href="#" class="like-btn"><i class="far fa-heart"></i>Like</a>
                                                        </li>
                                                        <li>
                                                            <a href="#"><i class="far fa-comment"></i>Comment</a>
                                                        </li>
                                                        <li>
                                                            <a href="#"><i class="fas fa-share"></i>Share</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="post-comments">
                                                    <div class="post-comm">
                                                        <img src="../assets/images/avatars/profile-image-2.png" class="comment-img">
                                                        <div class="comment-container">
                                                            <span class="comment-author">
                                                                Riley Beach
                                                                <small class="comment-date">1hr</small>
                                                            </span>
                                                        </div>
                                                        <span class="comment-text">
                                                            Fusce mattis fermentum quam non porta...
                                                        </span>
                                                    </div>
                                                    <div class="new-comment">
                                                        <form action="javascript: void(0)">
                                                            <div class="input-group">
                                                                <input type="text" name="comment" class="form-control search-input" placeholder="Type something...">
                                                                <div class="input-group-append">
                                                                    <button class="btn btn-secondary" type="button" id="button-addon1">Comment</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="col-md-5">
                                    <!-- <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">About</h5>
                                            <p>Quisque vel tellus sit amet quam efficitur sagittis. Fusce aliquam pulvinar suscipit.</p>
                                            <ul class="list-unstyled profile-about-list">
                                                <li><i class="material-icons">school</i><span>Studied Mechanical Engineering at <a href="#">Carnegie Mellon University</a></span></li>
                                                <li><i class="material-icons">work</i><span>Former manager at <a href="#">Stacks</a></span></li>
                                                <li><i class="material-icons">my_location</i><span>From <a href="#">Boston, Massachusetts</a></span></li>
                                                <li><i class="material-icons">rss_feed</i><span>Followed by 716 people</span></li>
                                                <li>
                                                    <button class="btn btn-block btn-primary m-t-lg">Follow</button>
                                                    <button class="btn btn-block btn-secondary m-t-lg">Message</button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div> -->
                                    <div class="card">
                                        <div class="card-header">
                                            Profile Info
                                        </div>
                                        <div class="card-body">
                                            <div class="details"></div>
                                        </div>
                                        <div class="card-footer">
                                            <button class="btn btn-block btn-secondary" id="updateProfile">Update info</button>
                                        </div>
                                    </div>
                                    <div class="modal fade editProfilePopup" tabindex="-1" role="dialog" aria-labelledby="editProfilePopup" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Edit profile</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </div>
                                                <form class="needs-validation" novalidate id="upadteProfileForm">
                                                    <div class="modal-body">
                                                        <div class="form-row">
                                                            <div class="col-md-4 mb-3">
                                                                <label for="staffName">Full name</label>
                                                                <input type="text" class="form-control" id="staffName" name="staffName" required>
                                                                <div class="invalid-feedback">
                                                                    Please provide full name.
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 mb-3">
                                                                <label for="fatherName">Father's name</label>
                                                                <input type="text" class="form-control" id="fatherName" name="fatherName" required>
                                                                <div class="invalid-feedback">
                                                                    Please provide father's name
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 mb-3">
                                                                <label for="cnicNumber">National ID # (Not for Students)</label>
                                                                <input type="number" class="form-control" id="cnicNumber" name="cnicNumber">
                                                                <div class="invalid-feedback">
                                                                    Please provide appointment date.
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="col-md-4 mb-3">
                                                                <label for="cityOfBirth">City of Birth</label>
                                                                <input type="text" class="form-control" id="cityOfBirth" name="cityOfBirth" required>
                                                                <div class="invalid-feedback">
                                                                    Please provide city of birth.
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 mb-3">
                                                                <label for="contactNumber">Contact number</label>
                                                                <input type="number" class="form-control" id="contactNumber" name="contactNumber" required>
                                                                <div class="invalid-feedback">
                                                                    Please provide a valid contact number.
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 mb-3">
                                                                <label for="email">Email Address</label>
                                                                <input type="email" class="form-control" id="email" name="email" required>
                                                                <div class="invalid-feedback">
                                                                    Please provide a valid email address.
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="col-md-10 mb-3">
                                                                <label for="residentialAddress">Residential address</label>
                                                                <input type="text" class="form-control" id="residentialAddress" name="residentialAddress" required>
                                                                <div class="invalid-feedback">
                                                                    Please provide a valid city.
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2 mb-3">
                                                                <label>Gender</label>
                                                                <div class="custom-control custom-radio">
                                                                    <input class="custom-control-input" type="radio" name="gender" id="male" value="Male" required>
                                                                    <label class="custom-control-label" for="male">Male</label>
                                                                </div>
                                                                <div class="custom-control custom-radio">
                                                                    <input class="custom-control-input" type="radio" name="gender" id="female" value="Female" required>
                                                                    <label class="custom-control-label" for="female">Female</label>
                                                                </div>
                                                                <div class="invalid-feedback">
                                                                    Please select a gender.
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="col-md-4 mb-3">
                                                                <label for="dateOfBirth">Date of birth</label>
                                                                <input  class="form-control" type="date" id="dateOfBirth" name="dateOfBirth" required>
                                                                <div class="invalid-feedback">
                                                                    Please select a valid date.
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 mb-3">
                                                                <label for="qualification">Qualification (Not for Students)</label>
                                                                <select class="form-control" id="qualification" name="qualification">
                                                                    <option></option>
                                                                    <option value="Matriculation">Matriculation</option>
                                                                    <option value="Intermediate">Intermediate</option>
                                                                    <option value="Graduation">Graduation</option>
                                                                    <option value="Bachelors">Bachelors</option>
                                                                    <option value="Masters">Masters</option>
                                                                    <option value="M.Phill">M.Phill</option>
                                                                    <option value="PhD">PhD</option>
                                                                </select>
                                                                <div class="invalid-feedback">
                                                                    Please select a session.
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 mb-3">
                                                                <label for="nationality">Nationality</label>
                                                                <input type="text" class="form-control" id="nationality" name="nationality" required>
                                                                <div class="invalid-feedback">
                                                                    Please provide a nationality.
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="col-md-4 mb-3">
                                                                <label for="religion">Religion</label>
                                                                <input type="text" class="form-control" id="religion" name="religion" required>
                                                                <div class="invalid-feedback">
                                                                    Please provide a religion.
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 mb-3">
                                                                <label for="motherTongue">Mother tongue</label>
                                                                <input type="text" class="form-control" id="motherTongue" name="motherTongue" required>
                                                                <div class="invalid-feedback">
                                                                    Please provide Mother tongue.
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 mb-3">
                                                                <label for="maritalStatus">Marital status</label>
                                                                <select class="form-control" id="maritalStatus" name="maritalStatus" required style="width: 100%; display: none;">
                                                                    <option value="Not defined">Not defined</option>
                                                                    <option value="Single">Single</option>
                                                                    <option value="Married">Married</option>
                                                                    <option value="Divorced">Divorced</option>
                                                                    <option value="Widowed">Widowed</option>
                                                                    <option value="Separated">Separated</option>
                                                                </select>
                                                                <!-- <input type="text" class="form-control" id="maritalStatus" name="maritalStatus" required> -->
                                                                <div class="invalid-feedback">
                                                                    Please provide Marital status.
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button class="btn btn-info" type="submit" >Update profile</button>
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="card">
                                        <div class="card-header">
                                            login activity
                                        </div>
                                        <div class="card-body">
                                            <!-- <h5 class="card-title">login activity</h5> -->
                                            <p class="text-center"><small>Your login activity will be shown here soon.</small></p>
                                        </div>
                                        <div class="card-footer">
                                            <button class="btn btn-block btn-secondary" id="updatePassword">Update password</button>
                                        </div>
                                    </div>
                                    <div class="modal fade updateProfilePopup" tabindex="-1" role="dialog" aria-labelledby="updateProfilePopup" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Edit profile</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </div>
                                                <form class="needs-validation" novalidate id="upadtePasswordForm">
                                                    <div class="modal-body">
                                                        <div class="form-row">
                                                            <div class="col-md-12 mb-3 oldPasswordContainer">
                                                                <label for="currnetPassword">Current Password</label>
                                                                <input type="password" class="form-control" id="currnetPassword" name="currnetPassword" required>
                                                                <div class="invalid-feedback">
                                                                    Please enter your old password.
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="col-md-6 mb-3">
                                                                <label for="newPassword">New password</label>
                                                                <input type="password" class="form-control" id="newPassword" name="newPassword" required>
                                                                <div class="progress mt-2">
                                                                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                                                </div>
                                                                <div class="invalid-feedback">
                                                                    Please enter new password.
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 mb-3">
                                                                <label for="reEnterNewPassword">Re-enter new password</label>
                                                                <input type="password" class="form-control" id="reEnterNewPassword" name="reEnterNewPassword" required>
                                                                <div class="invalid-feedback">
                                                                    Please re-enter new password.
                                                                </div>
                                                                <small id="passwordMatch"></small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button class="btn btn-info" type="submit" >Update password</button>
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="page-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <span class="footer-text">2019 © stacks</span>
                        </div>
                    </div>
                </div> -->
            </div>

        <!-- Javascripts -->
        <script src="../assets/plugins/jquery/jquery-3.4.1.min.js"></script>
        <script src="../assets/plugins/bootstrap/popper.min.js"></script>
        <script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="../assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
        <script src="../assets/plugins/DataTables/datatables.js"></script>
        <script src="../assets/plugins/select2/js/select2.full.min.js"></script>
        <script src="https://rawgit.com/moment/moment/2.29.4/min/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
        <script src="../assets/js/pages/dateRange.js" type="text/javascript"></script>
        <script src="../assets/js/pages/setup.js"></script>
        <script src="../assets/js/connect.js"></script>
        <!--Toast Notification-->
        <script src="../assets/js/alert.js"></script>
        <script src="../assets/plugins/blockui/jquery.blockUI.js"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cropper/1.0.1/jquery-cropper.min.js" integrity="sha512-V8cSoC5qfk40d43a+VhrTEPf8G9dfWlEJgvLSiq2T2BmgGRmZzB8dGe7XAABQrWj3sEfrR5xjYICTY4eJr76QQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.2/zxcvbn.js"></script>
        <script src="https://cdn.rawgit.com/ablanco/jquery.pwstrength.bootstrap/1.2.10/dist/pwstrength-bootstrap-1.2.10.min.js"></script>
        <!-- <script src="../assets/js/pages/datatables.js"></script> -->
        <script src="../assets/js/pages/profile.js"></script>
    </body>
</html>