<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bike Insurance Offers - Oneclick Digital</title>
	<meta name="description" content="Oneclick Digital - We're Insurance">
	<meta name="keywords" content="	accounting, advising, advisory, business, company, consulting, corporate, finance, financial, investments, law, multi-purpose, services, tax help, visual composer">
	<meta name="author" content="Themexriver">
	<link rel="icon" type="image/x-icon" href="../../assets/website-assets/Onclick Insurance - Favicon.png">
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="../../assets/website-assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../assets/website-assets/css/fontawesome-all.css">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css"> -->
	<link rel="stylesheet" href="../../assets/website-assets/css/flaticon.css">
	<link rel="stylesheet" href="../../assets/website-assets/css/animate.css">
	<link rel="stylesheet" href="../../assets/website-assets/css/video.min.css">
	<link rel="stylesheet" href="../../assets/website-assets/css/slick-theme.css">
	<link rel="stylesheet" href="../../assets/website-assets/css/slick.css">
	<link rel="stylesheet" href="../../assets/website-assets/css/nice-select.css">
	<link rel="stylesheet" href="../../assets/website-assets/css/rs6.css">
	<link rel="stylesheet" href="../../assets/website-assets/css/global.css">
	<link rel="stylesheet" href="../../assets/website-assets/css/style.css">
	<link rel="stylesheet" href="../../assets/website-assets/css/created-style.css">
	<link rel="stylesheet" href="../../assets/website-assets/css/quotation.css">
</head>
<body>
	<div id="preloader"></div>
	<div class="up">
		<a href="#" class="scrollup text-center"><i class="fas fa-chevron-up"></i></a>
	</div>
	
	<!-- Start of header section ============================================= -->
	<header id="in-header" class="in-header-section header-style-one"></header>
	<!-- search filed -->
	<div class="search-body">
		<div class="search-form">
			<form action="#" class="search-form-area">
				<input class="search-input" type="search" placeholder="Search Here">
				<button type="submit" class="search-btn1">
					<i class="fas fa-search"></i>
				</button>	
			</form>
			<div class="outer-close text-center search-btn">
				<i class="fas fa-times"></i>
			</div>
		</div>
	</div>
	<!-- End of header section ============================================= -->

	<!-- Start of breadcrumb section ============================================= -->
	<!-- <section id="in-breadcrumb" class="in-breadcrumb-section">
		<div class="in-breadcrumb-content position-relative"  data-background="../../assets/website-assets/img/bg/error-bg.jpg">
			<div class="background_overlay"></div>
			<div class="container">
				<div class="in-breadcrumb-title-content position-relative headline ul-li">
					<h2>Offers made for you!</h2>
					<ul>
						<li><a href="/">Home</a></li>
						<li class="active-page">Insurance Offers</li>
					</ul>
				</div>
			</div>
		</div>
	</section> -->
	<!-- End of breadcrumb section ============================================= -->

	<!-- Start of Contact Page section ============================================= -->
	<div class="manage-padding"></div>
	<section id="in-contact-page" class="in-contact-page-section position-relative offer-container">
		<div class="position-relative">
			<div class="client-details-container">
				<div class="row">
					<div class="col-md-9">
						<table class="table">
							<tr>
								<td>Bike make:</td>
								<th id="bike-make">Toyota</th>
								<td>Engine capacity:</td>
								<th id="engine-capacity">Toyota</th>
							</tr>
							<tr>
								<td>Model year:</td>
								<th id="model-year">2022</th>
								<td>Market value:</td>
								<th id="market-value">Rs. 56,562,323</th>
							</tr>
						</table>
						<div class="row">
							<div class="col a">
								<small id="plan-count">Showing 12 Plans</small>
							</div>
							<div class="col-sm-auto mt-4 mt-md-0 text-right">
								<a href="/bike-insurance">
									<span class="edit-btn"><i class="fas fa-edit"></i> Edit details</span>
								</a>
							</div>
							<div class="col-sm-auto mt-4 mt-md-0 text-right">
								<a href="javascript:void();">
									<span class="edit-btn" id="downloadQuotes"><i class="fas fa-download"></i> Download Quotes</span>
								</a>
							</div>
						</div>
					</div>
					<div class="col text-right">
						<img src="../../assets/images/5-star-rating.png"class="mb-3 d-none d-sm-block rating-image" draggable="false">
					</div>
				</div>
			</div>
			<div class="loading" id="offers-container" style="min-height: 450px;"></div>
		</div>
	</section>	
	<!-- End of Contact Page  section ============================================= -->	

	<!-- Start of Testimonial section ============================================= -->
	<section id="in-testimonial" class="in-testimonial-section" data-background="../../assets/website-assets/img/bg/tst-bg.jpg">
		<div class="container">
			<div class="in-testimonial-content">
				<div class="row">
					<div class="col-lg-6">
						<div class="in-testimonial-text-area">
							<div class="in-section-title-1 headline wow fadeInUp" data-wow-delay="250ms" data-wow-duration="1000ms">
								<div class="sub-title position-relative text-uppercase">
									Testimonial
								</div>
								<h2>What Our Client Say’s About Onclick Digital</h2>
							</div>
							<div class="in-testimonial-desc-text wow fadeInUp" data-wow-delay="350ms" data-wow-duration="1000ms">
								On the other hand we denounce with righteous indigna tion and dislike men who are so beguiled
							</div>
							<div class="in-btn-1 wow fadeInUp" data-wow-delay="450ms" data-wow-duration="1000ms">
								<a href="testimonial.html">See All Testimonials</a>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="in-testimonial-slider-area wow fadeInRight" data-wow-delay="450ms" data-wow-duration="1000ms">
							<div class="in-testimonial-slider">
								<div class="in-testimonial-item">
									<div class="inner-icon">
										<i class="fas fa-quote-left"></i>
									</div>
									<div class="inner-text">
										It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
									</div>
									<div class="inner-author d-flex align-items-center">
										<div class="author-img">
											<img src="../../assets/images/profilePictures/default-profile-picture.jpg" alt="">
										</div>
										<div class="author-text headline">
											<h3>Hammad Ghani</h3>
											<span>Private employee</span>
										</div>
									</div>
								</div>
								<div class="in-testimonial-item">
									<div class="inner-icon">
										<i class="fas fa-quote-left"></i>
									</div>
									<div class="inner-text">
										Came to Pakistan after 8 years abroad. Was looking for health insurance to stay covered while I'm here. But hate visiting offices physically. Used these guys and got sorted really quickly. Nicely done for a new startup!
									</div>
									<div class="inner-author d-flex align-items-center">
										<div class="author-img">
											<img src="../../assets/images/profilePictures/default-profile-picture.jpg" alt="">
										</div>
										<div class="author-text headline">
											<h3>Ahmed Ali</h3>
											<span>Private employee</span>
										</div>
									</div>
								</div>
								<div class="in-testimonial-item">
									<div class="inner-icon">
										<i class="fas fa-quote-left"></i>
									</div>
									<div class="inner-text">
										I had no knowledge of insurance plans at all. But the website was so insightful that finally I chose a plan and booked it.
									</div>
									<div class="inner-author d-flex align-items-center">
										<div class="author-img">
											<img src="../../assets/images/profilePictures/default-profile-picture.jpg" alt="">
										</div>
										<div class="author-text headline">
											<h3>Taha Shahid</h3>
											<span>Sales manager</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>						
	<!-- End of Testimonial section ============================================= -->

	<!-- Start of Sponsor section ============================================= -->
	<section id="in-sponsor" class="in-sponsor-section">
		<div class="in-section-title-3 text-center headline pera-content mb-5">
			<div class="sub-title position-relative text-uppercase">
				<span>Our community</span>
			</div>
			<h2>Our Proud Partners</h2>
			<p>To Develop a digital marketplace that provides a wide range of takaful products to as many people in Pakistan as possible</p>
		</div>
		<div class="container">
			<div class="in-sponsor-slider">
				<div class="in-sponsor-item">
					<div class="inner-img">
						<img src="../../assets/images/aggregates/united-insurance.png" alt="">
					</div>
				</div>
				<div class="in-sponsor-item">
					<div class="inner-img">
						<img src="../../assets/images/aggregates/ubl-insurer.png" alt="">
					</div>
				</div>
				<div class="in-sponsor-item">
					<div class="inner-img">
						<img src="../../assets/images/aggregates/habib-insurance.jpeg" alt="">
					</div>
				</div>
				<div class="in-sponsor-item">
					<div class="inner-img">
						<img src="../../assets/images/aggregates/salam-takaful.jpeg" alt="">
					</div>
				</div>
				<div class="in-sponsor-item">
					<div class="inner-img">
						<img src="../../assets/images/aggregates/pak-qatar.jpeg" alt="">
					</div>
				</div>
				<div class="in-sponsor-item">
					<div class="inner-img">
						<img src="../../assets/images/aggregates/jubilee-general.jpeg" alt="">
					</div>
				</div>
				<div class="in-sponsor-item">
					<div class="inner-img">
						<img src="../../assets/images/aggregates/efu.png" alt="">
					</div>
				</div>
				<div class="in-sponsor-item">
					<div class="inner-img">
						<img src="../../assets/images/aggregates/askari-insurance.png" alt="">
					</div>
				</div>
				
				<div class="in-sponsor-item">
					<div class="inner-img">
						<img src="../../assets/images/aggregates/igi-general.png" alt="">
					</div>
				</div>
				<div class="in-sponsor-item">
					<div class="inner-img">
						<img src="../../assets/images/aggregates/tpl-insurance.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End of Sponsor section ============================================= -->		

	<div class="quotecontainer d-none" id="quotecontainer">
		<div class="quotation-header text-center">
			<div class="row align-items-center">
				<div class="col-auto">
					<img src="../../assets/images/One Click Insurance.png" class="quotation-logo" draggable="false">
				</div>
				<div class="col">
					<h3>ONECLICK DIGITAL - QUOTATION(S)</h3>
					<p>R-613, Block 15, Dastagir, FB Area, Karachi - Pakistan</p>
				</div>
			</div>
		</div>
		<div class="client-details-container-quotation"></div>
		<table class="table text-center quotation-table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Insurer</th>
					<th scope="col">Premium rate</th>
					<th scope="col">Amount</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
		<div class="pageBreak"></div>
		<div class="section-heading">
			COVERAGE DETAILS
		</div>
		<div class="append-coverage-details"></div>
		<div class="pageBreak"></div>
		<div class="section-heading">
			Frequently Asked Questions
		</div>
		<div class="faq-container">
			<p class="question">What is Comprehensive Coverage?</p>
			<p class="answer">The Comprehensive coverage is also known as the “full coverage” it covers your vehicle from damages that occur not just from collisions but also from hail, wind, flood, vandalism, theft etc.</p>
			<p class="example"></p>
			<p class="question">What is General Exclusions?</p>
			<p class="answer">The term general exclusions refer to all those expenses which are not covered in your car insurance policy.</p>
			<p class="example">Day to day mechanical repairs for instance engine servicing, break-pad maintenance etc.</p>
			
			<p class="question">What is the difference between Sum Insured and Market Value?</p>
			<p class="answer">Market value refers to the evaluation of the car in the market, Sum insured it is the value of your car which you have provided to your insurer for coverage.</p>
			<p class="example">In 2020 a person declared a car value for 20 lacs which is the sum insured however the market value may not be the same over a certain period of time and may increase and decrease. the market value can change to 23 lacs or 19 lacs.</p>
			
			<p class="question">What is Total Loss?</p>
			<p class="answer">Total loss is a condition whereby the insurance company declares the car to be beyond repairs. The insurer gives a wholesome amount to the insured rather than repairing its car. In this case, the insured will get lower of the market value or sum insured.</p>
			<p class="example">If a car is declared a total loss and if the sum insured of the car was 25 lacs and the market value was 27 lacs, in this case, the assured will get 25 lacs because it is lower of both amounts.</p>

			<p class="question">What is Depreciation?</p>
			<p class="answer">Depreciation refers to the wear and tear of the car, as your car gets older it is the percentage of the claim which the insurer does not pay for in case of an accident. Depreciation is only applied to car parts.</p>
			<p class="example">Let’s assume you get into an accident and the dealership recommends the repair cost is 200,000 which comprises 100,000 as labour expenses and 100,000 for car parts if the depreciation is 50% in a specific year. You will get full compensation for labour and 50% depreciation on parts leading to the payout on parts to be 50,00 making the full payout to be 150,000.</p>
		</div>
		<div class="quote-footer">
			<img src="../../assets/website-assets/footer.jpg" width="100%">
		</div>
		<!-- <div class="footer-line"></div> -->
	</div>
	<div id="wait-modal" class="modal">
		<div class="modal-content">
			<span class="close" style="position: absolute; right: 20px;" onclick="closeWaitModal()">&times;</span>
			<div class="row">
				<div class="col-12 text-center">
					<img src="../../assets/website-assets/img/loading.webp" width="110" class="img mb-3" draggable="false">
					<h4>Please wait while we are creating quotations for you.</h4>
				</div>
			</div>
		</div>
	</div>
	<!-- Start of Footer section ============================================= -->
	<footer id="in-footer" class="in-footer-section" data-background="../../assets/website-assets/img/bg/footer-bg.jpg"></footer>		
	<!-- End of Footer section ============================================= -->	

	<!-- For Js Library -->
	<script src="../../assets/website-assets/js/jquery.min.js"></script>
	<script src="../../assets/website-assets/js/jquery-ui.min.js"></script>
	<script src="../../assets/website-assets/js/bootstrap.min.js"></script>
	<script src="../../assets/website-assets/js/popper.min.js"></script>
	<script src="../../assets/website-assets/js/appear.js"></script>
	<script src="../../assets/website-assets/js/slick.js"></script>
	<script src="../../assets/website-assets/js/wow.min.js"></script>
	<script src="../../assets/website-assets/js/knob.js"></script>
	<script src="../../assets/website-assets/js/jquery.filterizr.js"></script>
	<script src="../../assets/website-assets/js/imagesloaded.pkgd.min.js"></script>
	<script src="../../assets/website-assets/js/rbtools.min.js"></script>
	<script src="../../assets/website-assets/js/rs6.min.js"></script>
	<script src="../../assets/website-assets/js/jarallax.js"></script>
	<script src="../../assets/website-assets/js/jquery.counterup.min.js"></script>
	<script src="../../assets/website-assets/js/waypoints.min.js"></script>
	<script src="../../assets/website-assets/js/tilt.jquery.min.js"></script>
	<script src="../../assets/website-assets/js/isotope.pkgd.min.js"></script>
	<script src="../../assets/website-assets/js/jquery.marquee.min.js"></script>
	<script src="../../assets/website-assets/js/roundslider.js"></script>
	<script src="../../assets/website-assets/js/jquery.inputarrow.js"></script>
	<script src="../../assets/website-assets/js/jquery.magnific-popup.min.js"></script>
	<script src="../../assets/website-assets/js/jquery.nice-select.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js" integrity="sha512-YcsIPGdhPK4P/uRW6/sruonlYj+Q7UHWeKfTAkBW+g83NKM+jMJFJ4iAPfSnVp7BKD4dKMHmVSvICUbE/V1sSw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<script src="../../assets/website-assets/js/script.js"></script>
	<script src="../../assets/website-assets/js/setup.js"></script>
    <script src="../../assets/website-assets/js/bike-insurance-offers.js"></script>
</body>
</html>				