<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Car Insurance Offers - Oneclick Digital</title>
	<meta name="description" content="Oneclick Digital - We're Insurance">
	<meta name="keywords" content="	accounting, advising, advisory, business, company, consulting, corporate, finance, financial, investments, law, multi-purpose, services, tax help, visual composer">
	<meta name="author" content="Themexriver">
	<link rel="icon" type="image/x-icon" href="../../assets/website-assets/Onclick Insurance - Favicon.png">
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="../../assets/website-assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../assets/website-assets/css/fontawesome-all.css">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css"> -->
	<link rel="stylesheet" href="../../assets/website-assets/css/flaticon.css">
	<link rel="stylesheet" href="../../assets/website-assets/css/animate.css">
	<link rel="stylesheet" href="../../assets/website-assets/css/video.min.css">
	<link rel="stylesheet" href="../../assets/website-assets/css/slick-theme.css">
	<link rel="stylesheet" href="../../assets/website-assets/css/slick.css">
	<link rel="stylesheet" href="../../assets/website-assets/css/nice-select.css">
	<link rel="stylesheet" href="../../assets/website-assets/css/rs6.css">
	<link rel="stylesheet" href="../../assets/website-assets/css/global.css">
	<link rel="stylesheet" href="../../assets/website-assets/css/style.css">
	<link rel="stylesheet" href="../../assets/website-assets/css/created-style.css">
	<link rel="stylesheet" href="../../assets/website-assets/css/quotation.css">
</head>
<body>
	<div id="preloader"></div>
	<div class="up">
		<a href="#" class="scrollup text-center"><i class="fas fa-chevron-up"></i></a>
	</div>
	
	<!-- Start of header section ============================================= -->
	<header id="in-header" class="in-header-section header-style-one"></header>
	<!-- search filed -->
	<div class="search-body">
		<div class="search-form">
			<form action="#" class="search-form-area">
				<input class="search-input" type="search" placeholder="Search Here">
				<button type="submit" class="search-btn1">
					<i class="fas fa-search"></i>
				</button>	
			</form>
			<div class="outer-close text-center search-btn">
				<i class="fas fa-times"></i>
			</div>
		</div>
	</div>
	<!-- End of header section ============================================= -->

	<!-- Start of breadcrumb section ============================================= -->
	<!-- <section id="in-breadcrumb" class="in-breadcrumb-section">
		<div class="in-breadcrumb-content position-relative"  data-background="../../assets/website-assets/img/bg/error-bg.jpg">
			<div class="background_overlay"></div>
			<div class="container">
				<div class="in-breadcrumb-title-content position-relative headline ul-li">
					<h2>Offers made for you!</h2>
					<ul>
						<li><a href="/">Home</a></li>
						<li class="active-page">Insurance Offers</li>
					</ul>
				</div>
			</div>
		</div>
	</section> -->
	<!-- End of breadcrumb section ============================================= -->

	<!-- Start of Contact Page section ============================================= -->
	<div class="manage-padding"></div>
	<section id="in-contact-page" class="in-contact-page-section position-relative offer-container">
		<div class="position-relative">
			<div class="client-details-container">
				<div class="row">
					<div class="col-md-9">
						<table class="table">
							<tr>
								<td>Car make:</td>
								<th id="car-make">Toyota</th>
								<td>Car model:</td>
								<th id="car-model">Toyota</th>
							</tr>
							<tr>
								<td>Model year:</td>
								<th id="car-year">2022</th>
								<td>Market value:</td>
								<th id="market-value">Rs. 56,562,323</th>
							</tr>
						</table>
						<div class="row">
							<div class="col a">
								<small id="plan-count">Showing 12 Plans</small>
							</div>
							<div class="col-sm-auto mt-4 mt-md-0 text-right">
								<a href="/car-insurance">
									<span class="edit-btn"><i class="fas fa-edit"></i> Edit details</span>
								</a>
							</div>
							<div class="col-sm-auto mt-4 mt-md-0 text-right">
								<a href="javascript:void();">
									<span class="edit-btn" id="downloadQuotes"><i class="fas fa-download"></i> Download Quotes</span>
								</a>
							</div>
						</div>
					</div>
					<div class="col text-right">
						<img src="../../assets/images/5-star-rating.png"class="mb-3 d-none d-sm-block rating-image" draggable="false">
					</div>
				</div>
			</div>
			<div class="loading" id="offers-container" style="min-height: 450px;"></div>
		</div>
	</section>	
	<!-- End of Contact Page  section ============================================= -->	

	<!-- Start of Testimonial section ============================================= -->
	<section id="in-testimonial" class="in-testimonial-section" data-background="../../assets/website-assets/img/bg/tst-bg.jpg">
		<div class="container">
			<div class="in-testimonial-content">
				<div class="row">
					<div class="col-lg-6">
						<div class="in-testimonial-text-area">
							<div class="in-section-title-1 headline wow fadeInUp" data-wow-delay="250ms" data-wow-duration="1000ms">
								<div class="sub-title position-relative text-uppercase">
									Testimonial
								</div>
								<h2>What Our Client Say’s About Onclick Digital</h2>
							</div>
							<div class="in-testimonial-desc-text wow fadeInUp" data-wow-delay="350ms" data-wow-duration="1000ms">
								On the other hand we denounce with righteous indigna tion and dislike men who are so beguiled
							</div>
							<div class="in-btn-1 wow fadeInUp" data-wow-delay="450ms" data-wow-duration="1000ms">
								<a href="testimonial.html">See All Testimonials</a>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="in-testimonial-slider-area wow fadeInRight" data-wow-delay="450ms" data-wow-duration="1000ms">
							<div class="in-testimonial-slider">
								<div class="in-testimonial-item">
									<div class="inner-icon">
										<i class="fas fa-quote-left"></i>
									</div>
									<div class="inner-text">
										It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
									</div>
									<div class="inner-author d-flex align-items-center">
										<div class="author-img">
											<img src="../../assets/images/profilePictures/default-profile-picture.jpg" alt="">
										</div>
										<div class="author-text headline">
											<h3>Hammad Ghani</h3>
											<span>Private employee</span>
										</div>
									</div>
								</div>
								<div class="in-testimonial-item">
									<div class="inner-icon">
										<i class="fas fa-quote-left"></i>
									</div>
									<div class="inner-text">
										Came to Pakistan after 8 years abroad. Was looking for health insurance to stay covered while I'm here. But hate visiting offices physically. Used these guys and got sorted really quickly. Nicely done for a new startup!
									</div>
									<div class="inner-author d-flex align-items-center">
										<div class="author-img">
											<img src="../../assets/images/profilePictures/default-profile-picture.jpg" alt="">
										</div>
										<div class="author-text headline">
											<h3>Ahmed Ali</h3>
											<span>Private employee</span>
										</div>
									</div>
								</div>
								<div class="in-testimonial-item">
									<div class="inner-icon">
										<i class="fas fa-quote-left"></i>
									</div>
									<div class="inner-text">
										I had no knowledge of insurance plans at all. But the website was so insightful that finally I chose a plan and booked it.
									</div>
									<div class="inner-author d-flex align-items-center">
										<div class="author-img">
											<img src="../../assets/images/profilePictures/default-profile-picture.jpg" alt="">
										</div>
										<div class="author-text headline">
											<h3>Taha Shahid</h3>
											<span>Sales manager</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>						
	<!-- End of Testimonial section ============================================= -->

	<!-- Start of Sponsor section ============================================= -->
	<section id="in-sponsor" class="in-sponsor-section">
		<div class="in-section-title-3 text-center headline pera-content mb-5">
			<div class="sub-title position-relative text-uppercase">
				<span>Our community</span>
			</div>
			<h2>Our Proud Partners</h2>
			<p>To Develop a digital marketplace that provides a wide range of takaful products to as many people in Pakistan as possible</p>
		</div>
		<div class="container">
			<div class="in-sponsor-slider">
				<div class="in-sponsor-item">
					<div class="inner-img">
						<img src="../../assets/images/aggregates/united-insurance.png" alt="">
					</div>
				</div>
				<div class="in-sponsor-item">
					<div class="inner-img">
						<img src="../../assets/images/aggregates/ubl-insurer.png" alt="">
					</div>
				</div>
				<div class="in-sponsor-item">
					<div class="inner-img">
						<img src="../../assets/images/aggregates/habib-insurance.jpeg" alt="">
					</div>
				</div>
				<div class="in-sponsor-item">
					<div class="inner-img">
						<img src="../../assets/images/aggregates/salam-takaful.jpeg" alt="">
					</div>
				</div>
				<div class="in-sponsor-item">
					<div class="inner-img">
						<img src="../../assets/images/aggregates/pak-qatar.jpeg" alt="">
					</div>
				</div>
				<div class="in-sponsor-item">
					<div class="inner-img">
						<img src="../../assets/images/aggregates/jubilee-general.jpeg" alt="">
					</div>
				</div>
				<div class="in-sponsor-item">
					<div class="inner-img">
						<img src="../../assets/images/aggregates/efu.png" alt="">
					</div>
				</div>
				<div class="in-sponsor-item">
					<div class="inner-img">
						<img src="../../assets/images/aggregates/askari-insurance.png" alt="">
					</div>
				</div>
				
				<div class="in-sponsor-item">
					<div class="inner-img">
						<img src="../../assets/images/aggregates/igi-general.png" alt="">
					</div>
				</div>
				<div class="in-sponsor-item">
					<div class="inner-img">
						<img src="../../assets/images/aggregates/tpl-insurance.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End of Sponsor section ============================================= -->		
	<div id="details-modal" class="modal">
		<div class="modal-content">
			<span class="close" onclick="closeModal()">&times;</span>
			<div class="in-get-quote-form-area">
				<div class="in-get-quote-btn-1 text-center">
					<ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
						<li class="nav-item mb-1" role="presentation">
							<button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#personal" type="button" role="tab">Coverage Details</button>
						</li>
						<li class="nav-item mb-1" role="presentation">
							<button class="nav-link modal-tab-button" id="profile-tab" data-bs-toggle="tab" data-bs-target="#business" type="button" role="tab" >Depreciation Policy</button>
						</li>
						<li class="nav-item mb-1" role="presentation">
							<button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#cancellation" type="button" role="tab" >Cancellation Policy</button>
						</li>
						<li class="nav-item mb-1" role="presentation">
							<button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#claim" type="button" role="tab" >Claim Process</button>
						</li>
					</ul>
				</div>
				<div class="in-contact-tab-area-1">
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane animated fadeInUp show active" id="personal" role="tabpanel" aria-labelledby="home-tab">
							<div class="in-contact-form-title-area">
								<h6>Main Coverage</h6>
								<div class="row align-items-center">
									<div class="col">
										<ul class="cover-details-list">
											<li class="tick">Accident damages</li>
											<li class="tick">Fire</li>
											<li class="tick">Total loss</li>
										</ul>
									</div>
									<div class="col">
										<ul class="cover-details-list">
											<li class="tick">Theft / Snatch</li>
											<li class="tick">Natural calamities</li>
											<li class="tick">Riots & Strike</li>
										</ul>
									</div>
									<div class="col">
										<ul class="cover-details-list">
											<li class="tick">Terrorism</li>
											<li class="tick">Deductible</li>
											<li class="cross">No claim discount</li>
										</ul>
									</div>
								</div>

								<br>
								<h6>Third Party Coverage</h6>
								<div class="row">
									<div class="col">
										<ul class="cover-details-list">
											<li class="tick">Property damages</li>
										</ul>
									</div>
									<div class="col">
										<ul class="cover-details-list">
											<li class="cross">Emergency medical expenses</li>
										</ul>
									</div>
									<div class="col">
										<ul class="cover-details-list">
											<li class="cross">Death bodily injury</li>
										</ul>
									</div>
								</div>

								<br>
								<h6>Value Added Features</h6>
								<div class="row">
									<div class="col">
										<ul class="cover-details-list">
											<li class="tick">Tracker</li>
											<li class="cross">Replacement at door step</li>
										</ul>
									</div>
									<div class="col">
										<ul class="cover-details-list">
											<li class="tick">Call center support</li>
											<li class="cross">Mobile application</li>

										</ul>
									</div>
									<div class="col">
										<ul class="cover-details-list">
											<li class="tick">In-house surveyors</li>
											<li class="tick">Self assessment at approved dealership</li>
										</ul>
									</div>
								</div>
								<!-- <table class="table table-sm table-striped">
									<tbody>
										<tr>
											<th colspan="2">Main Coverage</th>
											<td>Accident Damages</td>
											<td>Fire</td>
											<td>Total Loss</td>
										</tr>
										<tr>
											<td>Theft/Snatch</td>
											<td>Natural Calamities</td>
											<td>Riots & Strike</td>
										</tr>
										<tr>
											<td>Terrorism</td>
											<td>Deductible</td>
											<td>No Claim Discount</td>
										</tr>
										<tr>
											<th>Third Party Coverage</th>
											<td>Death Bodily Injury</td>
											<td>Property damages</td>
											<td>Emergency Medical Expenses</td>
										</tr>
										<tr>
											<th>Value Added Features</th>
											<td>Tracker</td>
											<td>Call Center support</td>
											<td>In-house surveyors</td>
										</tr>
										<tr>
											<td>Replacement at Door step</td>
											<td>Mobile App</td>
											<td>Self Assessment at approved dealership</td>
										</tr>
									</tbody>
								</table> -->
							</div>
						</div>
						<div class="tab-pane animated fadeInUp" id="business" role="tabpanel" aria-labelledby="home-tab">
							<div class="in-contact-form-title-area">
								<!-- <div class="form-title headline pera-content">
									<p class="text-center">Following rates of depreciation shall be applied in the event of claim on replacement parts including glass and plastic items. Depreciation is from year of manufacture not year of registration.</p>
								</div> -->
								<table class="table table-borderless table-striped depreciation-policy-table">
									<thead>
										<tr>
											<th scope="col">Year / Month</th>
											<th scope="col">Percentage</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>1 - 3 months</td>
											<td>No depreciation</td>
										</tr>
										<tr>
											<td>4 - 6 months</td>
											<td>5%</td>
										</tr>
										<tr>
											<td>7 -12 months</td>
											<td>10%</td>
										</tr>
										<tr>
											<td>13 - 24 months</td>
											<td>20%</td>
										</tr>
										<tr>
											<td>25 - 36 months</td>
											<td>30%</td>
										</tr>
										<tr>
											<td>37 - 48 months</td>
											<td>40%</td>
										</tr>
										<tr>
											<td>49 - 60 months</td>
											<td>50%</td>
										</tr>
										<tr>
											<td>61 - 72 months</td>
											<td>60%</td>
										</tr>
										<tr>
											<td>7 - 12 months</td>
											<td>10%</td>
										</tr>
										<tr>
											<td>7 - 12 months</td>
											<td>10%</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="tab-pane animated fadeInUp" id="cancellation" role="tabpanel" aria-labelledby="home-tab">
							<div class="in-contact-form-title-area">
								<div class="form-title headline pera-content">
									<p class="text-center">If no claim is raised before cancellation request, the refund of premium is to be calculated after charging premium in accordance with following</p>
								</div>
								<!-- <br>
								<table class="table table-borderless table-striped depreciation-policy-table">
									<thead>
										<tr>
											<th scope="col">Months</th>
											<th scope="col">Refund percentage of premium</th>
										</tr>
									</thead>
									<tbody></tbody>
								</table> -->
							</div>
						</div>
						<div class="tab-pane animated fadeInUp" id="claim" role="tabpanel" aria-labelledby="home-tab">
							<div class="in-contact-form-title-area">
								<p class="text-center">you may reach out to us via WhatsApp or direct call <b>+92 319 599 5775</b> or email us at <b>info@theoneclickdigital.com</b> and our OneClick Digital specialist would be more than happy to assist you.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="quotecontainer d-none" id="quotecontainer">
		<div class="quotation-header text-center">
			<div class="row align-items-center">
				<div class="col-auto">
					<img src="../../assets/images/One Click Insurance.png" class="quotation-logo" draggable="false">
				</div>
				<div class="col">
					<h3>ONECLICK DIGITAL - QUOTATION(S)</h3>
					<p>R-613, Block 15, Dastagir, FB Area, Karachi - Pakistan</p>
				</div>
			</div>
		</div>
		<div class="client-details-container-quotation"></div>
		<table class="table text-center quotation-table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Insurer</th>
					<th scope="col">Premium rate</th>
					<th scope="col">Amount</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
		<div class="pageBreak"></div>
		<div class="section-heading">
			COVERAGE DETAILS
		</div>
		<div class="append-coverage-details"></div>
		<!-- <div class="coverage-details-container">
			<div class="row align-items-center">
				<div class="col">
					<img src="../../assets/images/aggregates/askari-insurance.png" class="card-img img-fluid rounded" style="max-width: 130px;" draggable="false">
				</div>
				<div class="col-auto text-right">
					<h5 class="premium-offer-text">Rs. 45,200</h5>
					<p class="premium-subtitle-lg">Premium / year</p>
				</div>
			</div>
			<h6>Main Coverage</h6>
			<div class="row align-items-center">
				<div class="col">
					<ul class="cover-details-list">
						<li class="tick">Accident damages</li>
						<li class="tick">Fire</li>
						<li class="tick">Total loss</li>
					</ul>
				</div>
				<div class="col">
					<ul class="cover-details-list">
						<li class="tick">Theft / Snatch</li>
						<li class="tick">Natural calamities</li>
						<li class="tick">Riots & Strike</li>
						
					</ul>
				</div>
				<div class="col">
					<ul class="cover-details-list">
						<li class="tick">Terrorism</li>
						<li class="tick">Deductible</li>
						<li class="cross">No claim discount</li>
					</ul>
				</div>
			</div>

			<br>
			<h6>Main Coverage</h6>
			<div class="row">
				<div class="col">
					<ul class="cover-details-list">
						<li class="tick">Property damages</li>
					</ul>
				</div>
				<div class="col">
					<ul class="cover-details-list">
						<li class="cross">Emergency medical expenses</li>
					</ul>
				</div>
				<div class="col">
					<ul class="cover-details-list">
						<li class="cross">Death bodily injury</li>
					</ul>
				</div>
			</div>
		</div> -->
		<div class="pageBreak"></div>
		<div class="section-heading">
			Frequently Asked Questions
		</div>
		<div class="faq-container">
			<p class="question">What is Comprehensive Coverage?</p>
			<p class="answer">The Comprehensive coverage is also known as the “full coverage” it covers your vehicle from damages that occur not just from collisions but also from hail, wind, flood, vandalism, theft etc.</p>
			<p class="example"></p>
			<p class="question">What is General Exclusions?</p>
			<p class="answer">The term general exclusions refer to all those expenses which are not covered in your car insurance policy.</p>
			<p class="example">Day to day mechanical repairs for instance engine servicing, break-pad maintenance etc.</p>
			
			<p class="question">What is the difference between Sum Insured and Market Value?</p>
			<p class="answer">Market value refers to the evaluation of the car in the market, Sum insured it is the value of your car which you have provided to your insurer for coverage.</p>
			<p class="example">In 2020 a person declared a car value for 20 lacs which is the sum insured however the market value may not be the same over a certain period of time and may increase and decrease. the market value can change to 23 lacs or 19 lacs.</p>
			
			<p class="question">What is Total Loss?</p>
			<p class="answer">Total loss is a condition whereby the insurance company declares the car to be beyond repairs. The insurer gives a wholesome amount to the insured rather than repairing its car. In this case, the insured will get lower of the market value or sum insured.</p>
			<p class="example">If a car is declared a total loss and if the sum insured of the car was 25 lacs and the market value was 27 lacs, in this case, the assured will get 25 lacs because it is lower of both amounts.</p>

			<p class="question">What is Depreciation?</p>
			<p class="answer">Depreciation refers to the wear and tear of the car, as your car gets older it is the percentage of the claim which the insurer does not pay for in case of an accident. Depreciation is only applied to car parts.</p>
			<p class="example">Let’s assume you get into an accident and the dealership recommends the repair cost is 200,000 which comprises 100,000 as labour expenses and 100,000 for car parts if the depreciation is 50% in a specific year. You will get full compensation for labour and 50% depreciation on parts leading to the payout on parts to be 50,00 making the full payout to be 150,000.</p>
		</div>
		<div class="quote-footer">
			<img src="../../assets/website-assets/footer.jpg" width="100%" draggable="false">
		</div>
	</div>
	<div id="wait-modal" class="modal">
		<div class="modal-content">
			<span class="close" style="position: absolute; right: 20px;" onclick="closeWaitModal()">&times;</span>
			<div class="row">
				<div class="col-12 text-center">
					<img src="../../assets/website-assets/img/loading.webp" width="110" class="img mb-3" draggable="false">
					<h4>Please wait while we are creating quotations for you.</h4>
				</div>
			</div>
		</div>
	</div>
	<!-- Start of Footer section ============================================= -->
	<footer id="in-footer" class="in-footer-section" data-background="../../assets/website-assets/img/bg/footer-bg.jpg"></footer>		
	<!-- End of Footer section ============================================= -->	

	<!-- Payment Modal -->
	<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModalLabel" aria-hidden="true" style="background-color: rgba(255, 255, 255, 0.445) !important;">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content" style="background-color: white !important;">
				<div class="modal-header">
					<h5 class="modal-title" id="paymentModalLabel">Initiate payment of PKR <span id="payableAmount"></span></h5>
					<button type="button" class="btn btn-danger close-modal" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form id="payment-form">
						<div class="form-group mb-4">
							<label for="cardHolderName">Card holder name</label>
							<input type="text" class="form-control" name="cardHolderName" id="cardHolderName" placeholder="" required>
						</div> <!-- form-group.// -->
						
						<div class="form-group mb-4">
							<label for="cardNumber">Card number</label>
							<div class="input-group">
								<input type="text" class="form-control" name="cardNumber" id="cardNumber" placeholder="" required>
								<div class="input-group-append">
									<span class="input-group-text text-muted">
										<i class="fab fa-cc-visa"></i>   <i class="fab fa-cc-amex"></i>   
										<i class="fab fa-cc-mastercard"></i> 
									</span>
								</div>
							</div>
						</div> <!-- form-group.// -->
						
						<div class="row">
							<div class="col-sm-8 mb-4">
								<div class="form-group">
									<label><span class="hidden-xs">Expiration</span> </label>
									<div class="input-group">
										<input type="number" class="form-control" id="expirationMonth" placeholder="MM" name="expirationMonth" required>
										<input type="number" class="form-control" id="expirationYear" placeholder="YY" name="expirationYear" required>
									</div>
								</div>
							</div>
							<div class="col-sm-4 mb-4">
								<div class="form-group">
									<label data-toggle="tooltip" title="3 digits code on back side of the card" data-original-title="3 digits code on back side of the card">CVV <i class="fa fa-question-circle"></i></label>
									<input type="number" class="form-control" id="cvv" required="sdsd">
								</div> <!-- form-group.// -->
							</div>
						</div> <!-- row.// -->
						<div class="row flex-column-reverse flex-sm-row">
							<div class="col-sm-6">
								<img src="../../assets/website-assets/img/ssl-secure.jpeg" class="img" draggable="false" style="width: 120px;">
							</div>
							<div class="col">
								<button class="btn btn-primary float-right mt-3" type="submit">Proceed to pay</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<form action="https://sandbox.bankalfalah.com/SSO/SSO/SSO" id="PageRedirectionForm" method="post" novalidate="novalidate">                                                              
		<input id="AuthToken" name="AuthToken" type="hidden" value="">                                                                                                                                
		<input id="RequestHash" name="RequestHash" type="hidden" value="">                                                                                                                            
		<input id="ChannelId" name="ChannelId" type="hidden" value="">                                                                                                                            
		<input id="Currency" name="Currency" type="hidden" value="PKR">                                                                                                                               
		<input id="IsBIN" name="IsBIN" type="hidden" value="0">                                                                                     
		<input id="ReturnURL" name="ReturnURL" type="hidden" value="https://google.com">                                                                            
		<input id="MerchantId" name="MerchantId" type="hidden" value="">                                                                                                                           
		<input id="StoreId" name="StoreId" type="hidden" value="">                                                                                                                     
		<input id="MerchantHash" name="MerchantHash" type="hidden" value="">                                  
		<input id="MerchantUsername" name="MerchantUsername" type="hidden" value="">                                                                                                            
		<input id="MerchantPassword" name="MerchantPassword" type="hidden" value="">  
   		<input id="TransactionTypeId" name="TransactionTypeId" type="hidden" value="3"> 
		<input id="TransactionReferenceNumber" name="TransactionReferenceNumber" type="hidden" value="">                                  
	   	<input id="TransactionAmount" name="TransactionAmount" placeholder="Transaction Amount" type="hidden" value="">  
		<br>
		<button type="submit" class="btn btn-custon-four btn-danger" id="run">PAY ONLINE</button>
	</form>

	<!-- For Js Library -->
	<script src="../../assets/website-assets/js/jquery.min.js"></script>
	<script src="../../assets/website-assets/js/jquery-ui.min.js"></script>
	<script src="../../assets/website-assets/js/bootstrap.min.js"></script>
	<script src="../../assets/website-assets/js/popper.min.js"></script>
	<script src="../../assets/website-assets/js/appear.js"></script>
	<script src="../../assets/website-assets/js/slick.js"></script>
	<script src="../../assets/website-assets/js/wow.min.js"></script>
	<script src="../../assets/website-assets/js/knob.js"></script>
	<script src="../../assets/website-assets/js/jquery.filterizr.js"></script>
	<script src="../../assets/website-assets/js/imagesloaded.pkgd.min.js"></script>
	<script src="../../assets/website-assets/js/rbtools.min.js"></script>
	<script src="../../assets/website-assets/js/rs6.min.js"></script>
	<script src="../../assets/website-assets/js/jarallax.js"></script>
	<script src="../../assets/website-assets/js/jquery.counterup.min.js"></script>
	<script src="../../assets/website-assets/js/waypoints.min.js"></script>
	<script src="../../assets/website-assets/js/tilt.jquery.min.js"></script>
	<script src="../../assets/website-assets/js/isotope.pkgd.min.js"></script>
	<script src="../../assets/website-assets/js/jquery.marquee.min.js"></script>
	<script src="../../assets/website-assets/js/roundslider.js"></script>
	<script src="../../assets/website-assets/js/jquery.inputarrow.js"></script>
	<script src="../../assets/website-assets/js/jquery.magnific-popup.min.js"></script>
	<script src="../../assets/website-assets/js/jquery.nice-select.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js" integrity="sha512-YcsIPGdhPK4P/uRW6/sruonlYj+Q7UHWeKfTAkBW+g83NKM+jMJFJ4iAPfSnVp7BKD4dKMHmVSvICUbE/V1sSw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<script src="../../assets/website-assets/js/script.js"></script>
	<script src="../../assets/website-assets/js/setup.js"></script>
    <script src="../../assets/website-assets/js/car-insurance-offers.js"></script>
    <script src="../../assets/website-assets/js/payment-form-validation.js"></script>
</body>
</html>				