<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Health Insurance In Pakistan - Oneclick Digital</title>
	<meta name="description" content="Oneclick Digital - We're Insurance">
	<meta name="keywords" content="	accounting, advising, advisory, business, company, consulting, corporate, finance, financial, investments, law, multi-purpose, services, tax help, visual composer">
	<meta name="author" content="Themexriver">
	<link rel="icon" type="image/x-icon" href="../../assets/website-assets/Onclick Insurance - Favicon.png">
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="../../assets/website-assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../assets/website-assets/css/fontawesome-all.css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="../../assets/website-assets/css/flaticon.css">
	<link rel="stylesheet" href="../../assets/website-assets/css/animate.css">
	<link rel="stylesheet" href="../../assets/website-assets/css/video.min.css">
	<link rel="stylesheet" href="../../assets/website-assets/css/slick-theme.css">
	<link rel="stylesheet" href="../../assets/website-assets/css/slick.css">
	<link rel="stylesheet" href="../../assets/website-assets/css/nice-select.css">
	<link rel="stylesheet" href="../../assets/website-assets/css/rs6.css">
	<link rel="stylesheet" href="../../assets/website-assets/css/global.css">
    <link rel="stylesheet" href="../../assets/select2/css/select2.css">
	<link rel="stylesheet" href="../../assets/website-assets/css/style.css">
	<link rel="stylesheet" href="../../assets/website-assets/css/created-style.css">
</head>
<body>
	<div id="preloader"></div>
	<div class="up">
		<a href="#" class="scrollup text-center"><i class="fas fa-chevron-up"></i></a>
	</div>
	
	<!-- Start of header section ============================================= -->
	<header id="in-header" class="in-header-section header-style-one"></header>
	<!-- search filed -->
	<div class="search-body">
		<div class="search-form">
			<form action="#" class="search-form-area">
				<input class="search-input" type="search" placeholder="Search Here">
				<button type="submit" class="search-btn1">
					<i class="fas fa-search"></i>
				</button>	
			</form>
			<div class="outer-close text-center search-btn">
				<i class="fas fa-times"></i>
			</div>
		</div>
	</div>
	<!-- End of header section ============================================= -->

	<!-- Start of breadcrumb section ============================================= -->
	<!-- <section id="in-breadcrumb" class="in-breadcrumb-section">
		<div class="in-breadcrumb-content position-relative"  data-background="../../assets/website-assets/img/bg/error-bg.jpg">
			<div class="background_overlay"></div>
			<div class="container">
				<div class="in-breadcrumb-title-content position-relative headline ul-li">
					<h2>Health Insurance In Pakistan</h2>
					<ul>
						<li><a href="/">Home</a></li>
						<li class="active-page">Health Insurance</li>
					</ul>
				</div>
			</div>
		</div>
	</section> -->
	<!-- End of breadcrumb section ============================================= -->

	<!-- Start of Contact Page section ============================================= -->
	<section id="in-contact-page" class="in-contact-page-section position-relative section-padding">	
		<div class="container">
			<div class="position-relative insurance-form-container">
				<div class="row">
					<div class="col-lg-6">
						<div class="row">
							<div class="col-12">
								<div class="insurance-quote-container mb-5 pt-md-3">
									<h4>Protect your & loved ones' future</h4>
									<h3>with reliable Health Insurance plans</h3>
								</div>
								<div class="text-center">
									<img src="../../assets/website-assets/img/life-insurance.avif" draggable="false" style="max-width: 350px;">
								</div>
							</div>
						</div>
						<div class="row mt-5">
							<div class="col-lg-4 col-md-6 wow fadeInLeft" data-wow-delay="200ms" data-wow-duration="1000ms">
								<div class="in-service-item-1 text-center position-relative">
									<div class="inner-icon">
										<i class="flaticon-insurance-1"></i>
									</div>
									<div class="inner-text headline benefit-point">
										<h3><a href="javascript:void();">Best rates guaranteed</a></h3>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6 wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1000ms">
								<div class="in-service-item-1 text-center position-relative">
									<div class="inner-icon">
										<i class="flaticon-income"></i>
									</div>
									<div class="inner-text headline benefit-point">
										<h3><a href="javascript:void();">Free of cost service</a></h3>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-12 wow fadeInLeft" data-wow-delay="400ms" data-wow-duration="1000ms">
								<div class="in-service-item-1 text-center position-relative">
									<div class="inner-icon">
										<i class="flaticon-shield"></i>
									</div>
									<div class="inner-text headline benefit-point">
										<h3><a href="javascript:void();">Claim assistance complimentary</a></h3>
									</div>
								</div>
							</div>
						</div>
						<!-- <div class="row text-center mt-5">
							<div class="col-lg-4">
								<i class="flaticon-life-insurance"></i>
								Best Rates Guarantee
							</div>
							<div class="col-lg-4">
								<i class="flaticon-insurance"></i>
								Free of Cost Service
							</div>
							<div class="col-lg-4">
								<i class="flaticon-phone-call"></i>
								Claim Assistance
							</div>
						</div> -->
					</div>
					<div class="col-lg-6">
						<div class="in-faq-contact-form-area insurance-form-inner-container mt-4">
							<div class="in-get-quote-form-area">
								<ul class="nav nav-tabs" id="myTab" role="tablist">
									<li class="nav-item" role="presentation">
										<button class="nav-link active" id="myself-tab" data-bs-toggle="tab" data-bs-target="#myself" type="button" role="tab" >
											<div class="in-faq-contact-info-title headline pera-content text-center">
												<div class="inner-icon form-icon tab-form-icon">
													<i class="far fa-user"></i>
												</div>
											</div>
											Myself
										</button>
									</li>
									<li class="nav-item" role="presentation">
										<button class="nav-link" id="family-tab" data-bs-toggle="tab" data-bs-target="#family" type="button" role="tab" >
											<div class="in-faq-contact-info-title headline pera-content text-center">
												<div class="inner-icon form-icon tab-form-icon">
													<i class="far fa-users"></i>
												</div>
											</div>
											Family
										</button>
									</li>
									<li class="nav-item" role="presentation">
										<button class="nav-link" id="parents-tab" data-bs-toggle="tab" data-bs-target="#parents" type="button" role="tab" >
											<div class="in-faq-contact-info-title headline pera-content text-center">
												<div class="inner-icon form-icon tab-form-icon">
													<i class="far fa-user-friends"></i>
												</div>
											</div>
											Parents
										</button>
									</li>
								</ul>
							</div>
							<div class="in-faq-contact-form">
								<div class="tab-content" id="myTabContent">
									<div class="tab-pane animated fadeInUp show active" id="myself" role="tabpanel" aria-labelledby="myself-tab">
										<div class="in-contact-form-title-area">
											<div class="form-title headline pera-content">
												<h3>Asset Insurance</h3>
												<p>Get a quote in just simple steps!</p>
											</div>
											<div class="in-contact-form">
												<form action="#" method="get">
													<input type="text" name="name" placeholder="Name">
													<input type="email" name="email" placeholder="Email">
													<div class="in-insurance-type in-select position-relative">
														<select>
															<option value="">Insurance Type</option>
															<option value="Car Insurance">Car Insurance</option>
															<option value="Bike Insurance">Bike Insurance</option>
														</select>
													</div>
													<button type="submit">Get a Quote Now</button>
												</form>
											</div>
										</div>
									</div>
									<div class="tab-pane animated fadeInUp" id="family" role="tabpanel" aria-labelledby="myself-tab">
										<div class="in-contact-form-title-area">
											<div class="form-title headline pera-content">
												<h3>Personal Insurance</h3>
												<p>Get a quote in just simple steps!</p>
											</div>
											<div class="in-contact-form">
												<form action="#" method="get">
													<input type="text" name="name" placeholder="Name">
													<input type="email" name="email" placeholder="Email">
													<div class="in-insurance-type in-select position-relative">
														<select>
															<option value="">Insurance Type</option>
															<option value="Family Insurance">Family Insurance</option>
															<option value="Health Insurance">Health Insurance</option>
															<option value="Travel Insurance">Travel Insurance</option>
															<option value="Life Insurance">Life Insurance</option>
														</select>
													</div>
													<button type="submit">Get a Quote Now</button>
												</form>
											</div>
										</div>
									</div>
									<div class="tab-pane animated fadeInUp" id="parents" role="tabpanel" aria-labelledby="myself-tab">
										<div class="in-contact-form-title-area">
											<div class="form-title headline pera-content">
												<h3>Personal Insurance</h3>
												<p>Get a quote in just simple steps!</p>
											</div>
											<div class="in-contact-form">
												<form action="#" method="get">
													<input type="text" name="name" placeholder="Name">
													<input type="email" name="email" placeholder="Email">
													<div class="in-insurance-type in-select position-relative">
														<select>
															<option value="">Insurance Type</option>
															<option value="Family Insurance">Family Insurance</option>
															<option value="Health Insurance">Health Insurance</option>
															<option value="Travel Insurance">Travel Insurance</option>
															<option value="Life Insurance">Life Insurance</option>
														</select>
													</div>
													<button type="submit">Get a Quote Now</button>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>



							<!-- <div class="in-faq-contact-info-title headline pera-content">
								<div class="inner-icon form-icon">
									<i class="flaticon-income"></i>
								</div>
								<h5>Let's get connected!</h5>
								<small>You are just a few clicks away.</small>
							</div>
							<div class="in-faq-contact-form">
								<form action="#" id="healthInsuranceForm" method="get" autocomplete="off">
									<div class="row">
										<div class="col-md-12 mb-3">
											<div class="input-wrapper">
												<input type="text" class="form-control input-border" name="name" placeholder=" ">
												<label class="input-label" for="name">Full name</label>
											</div>
										</div>
									</div>
									<div class="row g-2">
										<div class="col-md-6 mb-3">
											<div class="input-wrapper">
												<input type="text" class="form-control input-border" name="phone" placeholder=" ">
												<label class="input-label" for="phone">Contact number</label>
											</div>
										</div>
										<div class="col-md-6 mb-3">
											<div class="input-wrapper">
												<input type="email" class="form-control input-border" name="email" placeholder=" ">
												<label class="input-label" for="email">Email address</label>
											</div>
										</div>
									</div>
									<div class="row g-2">
										<div class="col-md-6 mb-3">
											<select class="form-control input-border" name="incomeSource" id="incomeSource">
												<option value="" selected disabled></option>
												<option value="Salary">Salary</option>
												<option value="Business">Business</option>
											</select>
										</div>
										<div class="col-md-6 mb-3">
											<select class="form-control input-border" name="maritalStatus" id="maritalStatus">
												<option value="" selected disabled></option>
												<option value="Single">Single</option>
												<option value="Married">Married</option>
												<option value="Divorced">Divorced</option>
												<option value="Widow">Widow</option>
											</select>
										</div>
									</div>
									<div class="row child-ages-container" style="display: none;">
										<div class="col-md-12 mb-3">
											<select class="form-control input-border" name="childAges" id="childAges" style="width: 100%;" multiple="multiple"></select>
											<small class="amount-in-words">Add multiple ages separated by comma (,).</small>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12 mb-3">
											<div class="input-wrapper">
												<input type="text" class="form-control input-border" name="dateOfBirth" id="dateOfBirth" placeholder=" ">
												<label class="input-label" for="dateOfBirth">Your date of birth</label>
												<small class="amount-in-words" id="display-date-of-birth"></small>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<button type="submit">Submit Now</button>
										</div>
									</div>
								</form>
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="in-google-map">
			<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7236.564906100528!2d67.086738!3d24.922446!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3eb33f41305d7149%3A0xedf1eef2371cbf4c!2sOneClick%20Digital!5e0!3m2!1sen!2sus!4v1689936536221!5m2!1sen!2sus" width="100%" height="590" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div> -->
	</section>
	<!-- End of Contact Page  section ============================================= -->	

	<!-- Start of Sponsor section ============================================= -->
	<section id="in-sponsor" class="in-sponsor-section">
		<div class="container">
			<div class="in-section-title-3 text-center headline pera-content mb-5">
				<div class="sub-title position-relative text-uppercase">
					<span>Our community</span>
				</div>
				<h2>Our Proud Partners</h2>
				<p>To Develop a digital marketplace that provides a wide range of takaful products to as many people in Pakistan as possible</p>
			</div>
			<div class="in-sponsor-slider">
				<div class="in-sponsor-item">
					<div class="inner-img">
						<img src="../../assets/images/aggregates/united-insurance.png" alt="">
					</div>
				</div>
				<div class="in-sponsor-item">
					<div class="inner-img">
						<img src="../../assets/images/aggregates/ubl-insurer.png" alt="">
					</div>
				</div>
				<div class="in-sponsor-item">
					<div class="inner-img">
						<img src="../../assets/images/aggregates/habib-insurance.jpeg" alt="">
					</div>
				</div>
				<div class="in-sponsor-item">
					<div class="inner-img">
						<img src="../../assets/images/aggregates/salam-takaful.jpeg" alt="">
					</div>
				</div>
				<div class="in-sponsor-item">
					<div class="inner-img">
						<img src="../../assets/images/aggregates/pak-qatar.jpeg" alt="">
					</div>
				</div>
				<div class="in-sponsor-item">
					<div class="inner-img">
						<img src="../../assets/images/aggregates/jubilee-general.jpeg" alt="">
					</div>
				</div>
				<div class="in-sponsor-item">
					<div class="inner-img">
						<img src="../../assets/images/aggregates/efu.png" alt="">
					</div>
				</div>
				<div class="in-sponsor-item">
					<div class="inner-img">
						<img src="../../assets/images/aggregates/askari-insurance.png" alt="">
					</div>
				</div>
				
				<div class="in-sponsor-item">
					<div class="inner-img">
						<img src="../../assets/images/aggregates/igi-general.png" alt="">
					</div>
				</div>
				<div class="in-sponsor-item">
					<div class="inner-img">
						<img src="../../assets/images/aggregates/tpl-insurance.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</section>	
	<!-- End of Sponsor section ============================================= -->

	<!-- Start of Testimonial section ============================================= -->
	<section id="in-testimonial" class="in-testimonial-section" data-background="../../assets/website-assets/img/bg/tst-bg.jpg">
		<div class="container">
			<div class="in-testimonial-content">
				<div class="row">
					<div class="col-lg-6">
						<div class="in-testimonial-text-area">
							<div class="in-section-title-1 headline wow fadeInUp" data-wow-delay="250ms" data-wow-duration="1000ms">
								<div class="sub-title position-relative text-uppercase">
									Testimonial
								</div>
								<h2>What Our Client Say’s About Oneclick Digital </h2>
							</div>
							<div class="in-testimonial-desc-text wow fadeInUp" data-wow-delay="350ms" data-wow-duration="1000ms">
								On the other hand we denounce with righteous indigna tion and dislike men who are so beguiled
							</div>
							<div class="in-btn-1 wow fadeInUp" data-wow-delay="450ms" data-wow-duration="1000ms">
								<a href="/about-us">About us</a>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="in-testimonial-slider-area wow fadeInRight" data-wow-delay="450ms" data-wow-duration="1000ms">
							<div class="in-testimonial-slider">
								<div class="in-testimonial-item">
									<div class="inner-icon">
										<i class="fas fa-quote-left"></i>
									</div>
									<div class="inner-text">
										It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
									</div>
									<div class="inner-author d-flex align-items-center">
										<div class="author-img">
											<img src="../../assets/images/profilePictures/default-profile-picture.jpg" alt="">
										</div>
										<div class="author-text headline">
											<h3>Hammad Ghani</h3>
											<span>Private employee</span>
										</div>
									</div>
								</div>
								<div class="in-testimonial-item">
									<div class="inner-icon">
										<i class="fas fa-quote-left"></i>
									</div>
									<div class="inner-text">
										Came to Pakistan after 8 years abroad. Was looking for health insurance to stay covered while I'm here. But hate visiting offices physically. Used these guys and got sorted really quickly. Nicely done for a new startup!
									</div>
									<div class="inner-author d-flex align-items-center">
										<div class="author-img">
											<img src="../../assets/images/profilePictures/default-profile-picture.jpg" alt="">
										</div>
										<div class="author-text headline">
											<h3>Ahmed Ali</h3>
											<span>Private employee</span>
										</div>
									</div>
								</div>
								<div class="in-testimonial-item">
									<div class="inner-icon">
										<i class="fas fa-quote-left"></i>
									</div>
									<div class="inner-text">
										I had no knowledge of insurance plans at all. But the website was so insightful that finally I chose a plan and booked it.
									</div>
									<div class="inner-author d-flex align-items-center">
										<div class="author-img">
											<img src="../../assets/images/profilePictures/default-profile-picture.jpg" alt="">
										</div>
										<div class="author-text headline">
											<h3>Taha Shahid</h3>
											<span>Sales manager</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>						
	<!-- End of Testimonial section ============================================= -->	
	<!-- Start of Footer section ============================================= -->
	<footer id="in-footer" class="in-footer-section" data-background="../../assets/website-assets/img/bg/footer-bg.jpg"></footer>		
	<!-- End of Footer section ============================================= -->	

	<!-- For Js Library -->
	<script src="../../assets/website-assets/js/jquery.min.js"></script>
	<script src="../../assets/website-assets/js/jquery-ui.min.js"></script>
	<script src="../../assets/website-assets/js/bootstrap.min.js"></script>
	<script src="../../assets/website-assets/js/popper.min.js"></script>
	<script src="../../assets/website-assets/js/appear.js"></script>
	<script src="../../assets/website-assets/js/slick.js"></script>
	<script src="../../assets/website-assets/js/wow.min.js"></script>
	<script src="../../assets/website-assets/js/knob.js"></script>
	<script src="../../assets/website-assets/js/jquery.filterizr.js"></script>
	<script src="../../assets/website-assets/js/imagesloaded.pkgd.min.js"></script>
	<script src="../../assets/website-assets/js/rbtools.min.js"></script>
	<script src="../../assets/website-assets/js/rs6.min.js"></script>
	<script src="../../assets/website-assets/js/jarallax.js"></script>
	<script src="../../assets/website-assets/js/jquery.counterup.min.js"></script>
	<script src="../../assets/website-assets/js/waypoints.min.js"></script>
	<script src="../../assets/website-assets/js/tilt.jquery.min.js"></script>
	<script src="../../assets/website-assets/js/isotope.pkgd.min.js"></script>
	<script src="../../assets/website-assets/js/jquery.marquee.min.js"></script>
	<script src="../../assets/website-assets/js/roundslider.js"></script>
	<script src="../../assets/website-assets/js/jquery.inputarrow.js"></script>
	<script src="../../assets/website-assets/js/jquery.magnific-popup.min.js"></script>
	<script src="../../assets/website-assets/js/jquery.nice-select.min.js"></script>
	<script src="../../assets/website-assets/js/script.js"></script>
	<script src="../../assets/website-assets/js/setup.js"></script>
    <script src="../../assets/select2/js/select2.full.min.js"></script>
    <script src="../../assets/website-assets/js/health-insurance.js"></script>
</body>
</html>				